<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">YelpCamp</a>
<<<<<<< HEAD
<<<<<<< HEAD
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
=======
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
>>>>>>> EJS-Mate-Instalation
=======
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
>>>>>>> show-review-delete-edit-authentication
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
<<<<<<< HEAD
<<<<<<< HEAD
            <div class="navbar-nav ml-auto mt-end">
=======
            <div class="navbar-nav ml-auto">
>>>>>>> show-review-delete-edit-authentication
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
<<<<<<< HEAD
=======
>>>>>>> EJS-Mate-Instalation
=======
>>>>>>> show-review-delete-edit-authentication
        </div>
    </div>
</nav>